---
layout: default
---

<section>
  <h1>Съдържание</h1>
  <ul class="list-unstyled">
    {% for post in site.posts %}
      <li class="title">
        <time datetime="{{post.date | date_to_xmlschema}}">{{ post.date | localize: ":date" }}</time>
        <span class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
      </li>
    {% endfor %}
  </ul>
</section>
