---
layout: default
---
<section class="articles">
  {% for post in paginator.posts %}
    {% include post.html %}
  {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<section>
  <nav>
    <ul class="pagination pagination-sm">
      {% if paginator.previous_page %}
        <li>
          <a aria-label="Предишна страница" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a aria-label="Предишна страница" href="#">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active">
            <a href="#">{{ page }}  <span class="sr-only">(текуща)</span></a>
          </li>
        {% elsif page == 1 %}
          <li>
            <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          </li>
        {% else %}
          <li>
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li>
          <a aria-label="Следваша страница" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a aria-label="Следваша страница" href="#">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</section>
{% endif %}
