---
layout: default
---
<section class="articles">
  {% for post in paginator.posts %}
    {% include post.html %}
  {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<section>
  <nav>
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            <span aria-hidden="true">&laquo;</span> Предишна страница
          </a>
        </li>
      {% else %}
        <li class="disabled previous">
          <a href="#">
            <span aria-hidden="true">&laquo;</span> Предишна страница
          </a>
        </li>
      {% endif %}

      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            Следваща страница <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled next">
          <a href="#">
            Следваща страница <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</section>
{% endif %}
