<footer class="row">
  <p>
    <a href="/all-posts.html">Списък на всички постове</a>. Блогът умишлено не
    поддържа коментари, моля отправяйте ги към мен по изредените отдолу канали:
  </p>

  <address>
    <strong>email:</strong> <code>{{ site.email }}</code><br>
    <strong>jabber:</strong> <code>ignisf at ludost dot net</code><br>
    <strong>github:</strong> <code><a href="https://github.com/ignisf">ignisf</a></code><br>
    <strong>twitter:</strong> <code><a href="https://twitter.com/ignisf">ignisf</a></code><br>
    <strong>GnuPG Сертификат:</strong> <code>0x74B050D1C0C94797</code><br>
  </address>
</footer>
