{% if post %}
<article>
  <h1>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>
  <div class="meta">
    <time datetime="{{post.date | date_to_xmlschema}}">{{ post.date | localize: ":long" }}</time>
    {% if post.author %} • {{ post.author }}{% endif %}
    {% if post.meta %} • {{ post.meta }}{% endif %}
  </div>
  {{ post.content }}
</article>

{% else %}
<article>
  <h1>
    {{ page.title }}
  </h1>
  <div class="meta">
    <time datetime="{{page.date | date_to_xmlschema}}">{{ page.date | localize: ":long" }}</time>
    {% if page.author %} • <address>{{ page.author }}</address>{% endif %}
    {% if page.meta %} • {{ page.meta }}{% endif %}
  </div>

  {{ content }}
</article>
{% endif %}
