@font-face {
    font-family: 'Tulpen One';
    src: font-url('tulpenone/TulpenOne-Regular.subset.eot');
    src: font-url('tulpenone/TulpenOne-Regular.subset.eot?#iefix') format('embedded-opentype'),
         local('Tulpen One'), local('TulpenOne-Regular'),
         font-url('tulpenone/TulpenOne-Regular.subset.woff2') format('woff2'),
         font-url('tulpenone/TulpenOne-Regular.subset.woff') format('woff'),
         font-url('tulpenone/TulpenOne-Regular.subset.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: font-url('notoserif/NotoSerif-Bold.subset.eot');
    src: font-url('notoserif/NotoSerif-Bold.subset.eot?#iefix') format('embedded-opentype'),
         local('Noto Serif Bold'), local('NotoSerif-Bold'),
         font-url('notoserif/NotoSerif-Bold.subset.woff2') format('woff2'),
         font-url('notoserif/NotoSerif-Bold.subset.woff') format('woff'),
         font-url('notoserif/NotoSerif-Bold.subset.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: font-url('notoserif/NotoSerif-BoldItalic.subset.eot');
    src: font-url('notoserif/NotoSerif-BoldItalic.subset.eot?#iefix') format('embedded-opentype'),
         local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
         font-url('notoserif/NotoSerif-BoldItalic.subset.woff2') format('woff2'),
         font-url('notoserif/NotoSerif-BoldItalic.subset.woff') format('woff'),
         font-url('notoserif/NotoSerif-BoldItalic.subset.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: font-url('notoserif/NotoSerif-Italic.subset.eot');
    src: font-url('notoserif/NotoSerif-Italic.subset.eot?#iefix') format('embedded-opentype'),
         local('Noto Serif Italic'), local('NotoSerif-Italic'),
         font-url('notoserif/NotoSerif-Italic.subset.woff2') format('woff2'),
         font-url('notoserif/NotoSerif-Italic.subset.woff') format('woff'),
         font-url('notoserif/NotoSerif-Italic.subset.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: font-url('notoserif/NotoSerif-Regular.subset.eot');
    src: font-url('notoserif/NotoSerif-Regular.subset.eot?#iefix') format('embedded-opentype'),
         local('Noto Serif'), local('NotoSerif'),
         font-url('notoserif/NotoSerif-Regular.subset.woff2') format('woff2'),
         font-url('notoserif/NotoSerif-Regular.subset.woff') format('woff'),
         font-url('notoserif/NotoSerif-Regular.subset.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: font-url('opensanscondensed/OpenSans-CondLight.subset.eot');
    src: font-url('opensanscondensed/OpenSans-CondLight.subset.eot?#iefix') format('embedded-opentype'),
         local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
         font-url('opensanscondensed/OpenSans-CondLight.subset.woff2') format('woff2'),
         font-url('opensanscondensed/OpenSans-CondLight.subset.woff') format('woff'),
         font-url('opensanscondensed/OpenSans-CondLight.subset.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: font-url('opensanscondensed/OpenSans-CondLightItalic.subset.eot');
    src: font-url('opensanscondensed/OpenSans-CondLightItalic.subset.eot?#iefix') format('embedded-opentype'),
         local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'),
         font-url('opensanscondensed/OpenSans-CondLightItalic.subset.woff2') format('woff2'),
         font-url('opensanscondensed/OpenSans-CondLightItalic.subset.woff') format('woff'),
         font-url('opensanscondensed/OpenSans-CondLightItalic.subset.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: font-url('opensanscondensed/OpenSans-CondBold.subset.eot');
    src: font-url('opensanscondensed/OpenSans-CondBold.subset.eot?#iefix') format('embedded-opentype'),
         local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'),
         font-url('opensanscondensed/OpenSans-CondBold.subset.woff2') format('woff2'),
         font-url('opensanscondensed/OpenSans-CondBold.subset.woff') format('woff'),
         font-url('opensanscondensed/OpenSans-CondBold.subset.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Meslo LG S Regular';
    src: font-url('meslo/MesloLGS-Regular.subset.eot');
    src: font-url('meslo/MesloLGS-Regular.subset.eot?#iefix') format('embedded-opentype'),
         local('Meslo LG S Regular'), local('MesloLGS-Regular'),
         font-url('meslo/MesloLGS-Regular.subset.woff2') format('woff2'),
         font-url('meslo/MesloLGS-Regular.subset.woff') format('woff'),
         font-url('meslo/MesloLGS-Regular.subset.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Meslo LG S Italic';
    src: font-url('meslo/MesloLGS-Italic.subset.eot');
    src: font-url('meslo/MesloLGS-Italic.subset.eot?#iefix') format('embedded-opentype'),
         local('Meslo LG S Italic'), local('MesloLGS-Italic'),
         font-url('meslo/MesloLGS-Italic.subset.woff2') format('woff2'),
         font-url('meslo/MesloLGS-Italic.subset.woff') format('woff'),
         font-url('meslo/MesloLGS-Italic.subset.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Meslo LG S Bold';
    src: font-url('meslo/MesloLGS-Bold.subset.eot');
    src: font-url('meslo/MesloLGS-Bold.subset.eot?#iefix') format('embedded-opentype'),
         local('Meslo LG S Bold'), local('MesloLGS-Bold'),
         font-url('meslo/MesloLGS-Bold.subset.woff2') format('woff2'),
         font-url('meslo/MesloLGS-Bold.subset.woff') format('woff'),
         font-url('meslo/MesloLGS-Bold.subset.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Meslo LG S Bold Italic';
    src: font-url('meslo/MesloLGS-BoldItalic.subset.eot');
    src: font-url('meslo/MesloLGS-BoldItalic.subset.eot?#iefix') format('embedded-opentype'),
         local('Meslo LG S Bold Italic'), local('MesloLGS-BoldItalic'),
         font-url('meslo/MesloLGS-BoldItalic.subset.woff2') format('woff2'),
         font-url('meslo/MesloLGS-BoldItalic.subset.woff') format('woff'),
         font-url('meslo/MesloLGS-BoldItalic.subset.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}