---
layout: compress
---

<!DOCTYPE html>
<html lang="bg">
  {% include head.html %}
  <body class="container">
    {% include header.html %}
    <main class="row">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
